* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v54_380 {
  width: 100%;
  height: 1769px;
  background: url("../images/v54_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_187 {
  width: 100%;
  height: 616px;
  background: rgba(247,247,246,1);
  opacity: 1;
  position: absolute;
  top: 976px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_188 {
  width: 741px;
  height: 428px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 159px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_189 {
  width: 726px;
  height: 200px;
  background: url("../images/v54_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 8px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_190 {
  width: 205px;
  height: 88px;
  background: rgba(31,92,135,1);
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 535px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_191 {
  width: 141px;
  height: 24px;
  background: rgba(43,155,228,1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v54_192 {
  width: 65px;
  color: rgba(162,210,241,1);
  position: absolute;
  top: 5px;
  left: 38px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_193 {
  width: 139px;
  color: rgba(69,117,162,1);
  position: absolute;
  top: 76px;
  left: 4px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v54_194 {
  width: 738px;
  height: 21px;
  background: rgba(207,207,208,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_195 {
  width: 10px;
  height: 11px;
  background: url("../images/v54_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_196 {
  width: 91px;
  height: 88px;
  background: rgba(91,59,112,1);
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_197 {
  width: 22px;
  color: rgba(118,103,137,1);
  position: absolute;
  top: 54px;
  left: 69px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_198 {
  width: 179px;
  color: rgba(166,161,190,1);
  position: absolute;
  top: 353px;
  left: 64px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_199 {
  width: 141px;
  height: 26px;
  background: rgba(45,68,102,1);
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 378px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_200 {
  width: 36px;
  color: rgba(106,111,143,1);
  position: absolute;
  top: 7px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_201 {
  width: 98px;
  height: 36px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 538px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_202 {
  width: 22px;
  color: rgba(81,81,81,1);
  position: absolute;
  top: 10px;
  left: 57px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_203 {
  width: 92px;
  height: 36px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 127px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_204 {
  width: 36px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_205 {
  width: 14px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 4px;
  left: 73px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_206 {
  width: 91px;
  height: 41px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 226px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_207 {
  width: 66px;
  color: rgba(82,81,130,1);
  position: absolute;
  top: 23px;
  left: 6px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_208 {
  width: 35px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 4px;
  left: 9px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_209 {
  width: 10px;
  height: 10px;
  background: url("../images/v54_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 75px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_210 {
  width: 91px;
  height: 36px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 424px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_211 {
  width: 47px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 4px;
  left: 9px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_212 {
  width: 9px;
  color: rgba(184,184,184,1);
  position: absolute;
  top: 4px;
  left: 78px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_213 {
  width: 91px;
  height: 36px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 325px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_214 {
  width: 20px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 3px;
  left: 9px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_215 {
  width: 10px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 3px;
  left: 77px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_216 {
  width: 71px;
  height: 27px;
  background: rgba(45,68,102,1);
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 221px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_217 {
  width: 20px;
  color: rgba(112,106,141,1);
  position: absolute;
  top: 6px;
  left: 7px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_218 {
  width: 51px;
  height: 35px;
  background: url("../images/v54_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 119px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_219 {
  width: 35px;
  height: 26px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 515px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v54_220 {
  color: rgba(23,26,31,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_221 {
  width: 48px;
  height: 27px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 489px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v54_222 {
  width: 48px;
  color: rgba(154,154,154,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_223 {
  width: 59px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 28px;
  left: 64px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_224 {
  width: 25px;
  height: 23px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 64px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_225 {
  color: rgba(23,26,31,1);
  position: absolute;
  top: 3px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_226 {
  width: 64px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 249px;
  left: 105px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_227 {
  width: 38px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 272px;
  left: 174px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_228 {
  width: 21px;
  height: 17px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 593px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v54_229 {
  width: 2px;
  color: rgba(123,124,121,1);
  position: absolute;
  top: 4px;
  left: 10px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v54_230 {
  width: 46px;
  color: rgba(104,104,104,1);
  position: absolute;
  top: 284px;
  left: 556px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_231 {
  width: 29px;
  color: rgba(40,88,109,1);
  position: absolute;
  top: 31px;
  left: 639px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_232 {
  width: 54px;
  color: rgba(104,104,104,1);
  position: absolute;
  top: 300px;
  left: 554px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_233 {
  width: 29px;
  color: rgba(96,96,96,1);
  position: absolute;
  top: 286px;
  left: 651px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_234 {
  width: 25px;
  color: rgba(146,146,146,1);
  position: absolute;
  top: 274px;
  left: 383px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_235 {
  width: 23px;
  color: rgba(146,146,146,1);
  position: absolute;
  top: 274px;
  left: 455px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_236 {
  width: 21px;
  color: rgba(135,135,135,1);
  position: absolute;
  top: 274px;
  left: 421px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_237 {
  width: 20px;
  color: rgba(228,170,121,1);
  position: absolute;
  top: 275px;
  left: 314px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_238 {
  width: 21px;
  color: rgba(146,146,146,1);
  position: absolute;
  top: 274px;
  left: 349px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_239 {
  width: 22px;
  color: rgba(97,142,170,1);
  position: absolute;
  top: 313px;
  left: 570px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_240 {
  width: 329px;
  color: rgba(100,98,105,1);
  position: absolute;
  top: 153px;
  left: 922px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_241 {
  width: 337px;
  color: rgba(81,81,81,1);
  position: absolute;
  top: 91px;
  left: 924px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v54_242 {
  width: 158px;
  height: 50px;
  background: rgba(199,170,139,1);
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 922px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_243 {
  width: 103px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 13px;
  left: 28px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_244 {
  width: 82px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 262px;
  left: 947px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_245 {
  width: 81px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 262px;
  left: 1069px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_246 {
  width: 27px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 70px;
  left: 923px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_247 {
  width: 100%;
  height: 615px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_248 {
  width: 889px;
  height: 427px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 540px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_249 {
  width: 729px;
  height: 207px;
  background: url("../images/v54_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 7px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_250 {
  width: 205px;
  height: 88px;
  background: rgba(31,92,135,1);
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 535px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_251 {
  width: 141px;
  height: 25px;
  background: rgba(43,155,228,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v54_252 {
  width: 67px;
  color: rgba(162,210,241,1);
  position: absolute;
  top: 6px;
  left: 38px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_253 {
  width: 113px;
  color: rgba(69,117,162,1);
  position: absolute;
  top: 75px;
  left: 31px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v54_254 {
  width: 738px;
  height: 21px;
  background: rgba(207,207,208,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_255 {
  width: 9px;
  height: 10px;
  background: url("../images/v54_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 20px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_256 {
  width: 345px;
  height: 26px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 144px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_257 {
  width: 38px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 5px;
  left: 30px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_258 {
  width: 22px;
  color: rgba(146,146,146,1);
  position: absolute;
  top: 8px;
  left: 238px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_259 {
  width: 20px;
  color: rgba(135,135,135,1);
  position: absolute;
  top: 8px;
  left: 311px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_260 {
  width: 18px;
  color: rgba(228,170,121,1);
  position: absolute;
  top: 8px;
  left: 171px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_261 {
  width: 18px;
  color: rgba(135,135,135,1);
  position: absolute;
  top: 8px;
  left: 277px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_262 {
  width: 18px;
  color: rgba(146,146,146,1);
  position: absolute;
  top: 8px;
  left: 206px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_263 {
  width: 92px;
  height: 88px;
  background: rgba(91,59,112,1);
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_264 {
  width: 27px;
  height: 24px;
  background: rgba(59,49,87,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 64px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_265 {
  width: 22px;
  color: rgba(118,103,137,1);
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_266 {
  width: 163px;
  height: 33px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 724px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_267 {
  width: 87px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 9px;
  left: 38px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_268 {
  width: 26px;
  height: 23px;
  background: url("../images/v54_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_269 {
  width: 175px;
  color: rgba(166,161,190,1);
  position: absolute;
  top: 353px;
  left: 65px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_270 {
  width: 139px;
  height: 27px;
  background: rgba(45,68,102,1);
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 380px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_271 {
  width: 36px;
  color: rgba(106,111,143,1);
  position: absolute;
  top: 7px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_272 {
  width: 91px;
  height: 37px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 539px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_273 {
  width: 21px;
  color: rgba(81,81,81,1);
  position: absolute;
  top: 10px;
  left: 57px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_274 {
  width: 52px;
  height: 65px;
  background: rgba(39,39,39,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 688px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_275 {
  width: 92px;
  height: 36px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 127px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_276 {
  width: 36px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 7px;
  left: 9px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_277 {
  width: 14px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 5px;
  left: 74px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_278 {
  width: 92px;
  height: 39px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 226px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_279 {
  width: 35px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_280 {
  width: 13px;
  height: 13px;
  background: url("../images/v54_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 63px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_281 {
  width: 19px;
  color: rgba(109,106,146,1);
  position: absolute;
  top: 27px;
  left: 11px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_282 {
  width: 10px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 5px;
  left: 78px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_283 {
  width: 92px;
  height: 36px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 325px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_284 {
  width: 17px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 5px;
  left: 9px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_285 {
  width: 10px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 5px;
  left: 78px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_286 {
  width: 92px;
  height: 36px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 424px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_287 {
  width: 47px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_288 {
  width: 70px;
  height: 24px;
  background: rgba(45,68,102,1);
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 221px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_289 {
  width: 20px;
  color: rgba(112,106,141,1);
  position: absolute;
  top: 5px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_290 {
  width: 97px;
  height: 14px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 556px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_291 {
  width: 47px;
  color: rgba(104,104,104,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_292 {
  width: 35px;
  height: 25px;
  background: rgba(230,229,229,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 515px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_293 {
  color: rgba(23,26,31,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_294 {
  width: 26px;
  height: 25px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 488px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v54_295 {
  color: rgba(23,26,31,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_296 {
  width: 25px;
  height: 25px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 65px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_297 {
  color: rgba(23,26,31,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v54_298 {
  width: 59px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 29px;
  left: 65px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_299 {
  width: 60px;
  color: rgba(81,81,81,1);
  position: absolute;
  top: 252px;
  left: 115px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_300 {
  width: 29px;
  color: rgba(40,88,109,1);
  position: absolute;
  top: 31px;
  left: 640px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_301 {
  width: 54px;
  color: rgba(104,104,104,1);
  position: absolute;
  top: 300px;
  left: 554px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v54_302 {
  width: 31px;
  color: rgba(104,104,104,1);
  position: absolute;
  top: 286px;
  left: 652px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_303 {
  width: 27px;
  color: rgba(97,142,170,1);
  position: absolute;
  top: 311px;
  left: 571px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_304 {
  width: 5px;
  color: rgba(74,74,74,1);
  position: absolute;
  top: 249px;
  left: 650px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_305 {
  width: 329px;
  color: rgba(100,98,105,1);
  position: absolute;
  top: 153px;
  left: 160px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_306 {
  width: 158px;
  height: 51px;
  background: rgba(199,170,139,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 158px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_307 {
  width: 103px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 14px;
  left: 28px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_308 {
  width: 156px;
  color: rgba(81,81,81,1);
  position: absolute;
  top: 90px;
  left: 161px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v54_309 {
  width: 82px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 261px;
  left: 185px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_310 {
  width: 81px;
  color: rgba(191,190,193,1);
  position: absolute;
  top: 261px;
  left: 307px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_311 {
  width: 25px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 69px;
  left: 161px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_312 {
  width: 100%;
  height: 291px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_313 {
  width: 445px;
  color: rgba(199,170,139,1);
  position: absolute;
  top: 64px;
  left: 396px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.v54_314 {
  width: 234px;
  color: rgba(199,170,139,1);
  position: absolute;
  top: 64px;
  left: 163px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.v54_315 {
  width: 381px;
  color: rgba(167,169,165,1);
  position: absolute;
  top: 186px;
  left: 162px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v54_316 {
  width: 100%;
  height: 176px;
  background: rgba(49,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1591px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_317 {
  width: 360px;
  height: 49px;
  background: rgba(55,55,55,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 540px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_318 {
  width: 161px;
  color: rgba(199,170,139,1);
  position: absolute;
  top: 13px;
  left: 99px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_381 {
  width: 100%;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_365 {
  width: 72px;
  height: 71px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1200px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_366 {
  width: 34px;
  height: 32px;
  background: url("../images/v54_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_367 {
  width: 223px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1272px;
  overflow: hidden;
}
.v54_368 {
  width: 75px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1125px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_369 {
  width: 29px;
  height: 33px;
  background: url("../images/v54_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 20px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_370 {
  width: 314px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v54_371 {
  width: 129px;
  color: rgba(228,228,228,1);
  position: absolute;
  top: 17px;
  left: 157px;
  font-family: Lexend;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v54_372 {
  width: 126px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 294px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_373 {
  width: 44px;
  color: rgba(253,253,253,1);
  position: absolute;
  top: 23px;
  left: 41px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_374 {
  width: 126px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 420px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_375 {
  width: 43px;
  color: rgba(207,207,207,1);
  position: absolute;
  top: 23px;
  left: 42px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_376 {
  width: 160px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 543px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v54_377 {
  width: 70px;
  color: rgba(207,207,207,1);
  position: absolute;
  top: 23px;
  left: 45px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v54_378 {
  width: 422px;
  height: 71px;
  background: rgba(50,49,49,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 703px;
  overflow: hidden;
}
